<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ReplyDAO">
	<resultMap type="replyVO" id="replyVO">
		<result column="REPLY_SEQ" property="replySeq" />
		<result column="PROJECT_SEQ" property="projectSeq" />
		<result column="USER_ID" property="userId" />
		<result column="SUPER_REPLY" property="superReply" />
		<result column="REG_DATE" property="regDate" />
	</resultMap>
	
	<!-- select  -->
	<select id="selectByProjectSeq" parameterType="String" resultMap="replyVO" >
      SELECT *
	  FROM REPLY
	  WHERE PROJECT_SEQ = #{ projectSeq }
      START WITH SUPER_REPLY IS NULL
      CONNECT BY PRIOR REPLY_SEQ = SUPER_REPLY
	</select>
	
	<!-- DML -->
	<insert id="insert" parameterType="replyVO">
		INSERT INTO REPLY(REPLY_SEQ, PROJECT_SEQ, USER_ID, SUPER_REPLY, CONTENT, DEPTH)
		VALUES(SEQ_REPLY.NEXTVAL, #{ projectSeq }, #{ userId }, #{ superReply }, #{ content } , #{ depth })
	</insert>
</mapper>