<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.ac.kopo.vo.ManagerVO" alias="managerVO" />
		<typeAlias type="kr.ac.kopo.vo.ProjectVO" alias="projectVO" />
		<typeAlias type="kr.ac.kopo.vo.CorporationVO" alias="corporationVO" />
		<typeAlias type="kr.ac.kopo.vo.FundVO" alias="fundVO" />
	</typeAliases>
	
</configuration>